# Compiled class file
./contentful/*.class

# Log file
./contentful/*.log

# BlueJ files
./contentful/*.ctxt

# Mobile Tools for Java (J2ME)
./contentful/.mtj.tmp/

# Package Files #
./contentful/*.jar
./contentful/*.war
./contentful/*.nar
./contentful/*.ear
./contentful/*.zip
./contentful/*.tar.gz
./contentful/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
./contentful/hs_err_pid*
